html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/* since the navbar is fixed we need to add some space to the body */
body {
  padding-top: 56px;
}




  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    left:-270px;
    width: 270px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse {
      align-items:start;
         
    
  }





/* Makes the nav visibile with the open class */
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }


  .overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}




.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}


.header{
  background-color: #2195f2;
}

.main-content{
  /*background: #6ec5ff;*/
  background:
    linear-gradient(
      rgb(3 69 119 / 50%),
      rgb(3 69 119  / 50%)
    ),
    url(../img/bg_perpus.jpg);
  background-size:cover
}

.menu{ 
  
    text-align: right;
    font-weight: bold;
    background-color: #2195f2;

  
}

.menu ul {
  list-style: none;
  padding-inline-start:0;
  
  }

.menu ul li{  
       position: relative;
        
   }
.menu ul  li   a {
      line-height: 2em;
      text-transform: uppercase;       
      letter-spacing: 0.1em;
      transition: all ease-out 300ms;
      color: rgba(255, 255, 255, 0.35);
    }    
.menu ul  li a nav-link {      
      color: rgba(#FFF, 0.35);
    }   
    
.menu ul li a::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.1em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91)
}

.content-cari{
  
}
.form-cari{
   border-radius: 1rem;   
    
}
.bg-login{
  background-color: #2195f285!important;
}

.form-rounded{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.form-rounded-right{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.footer{
   
   
}
.bg-result{
  background-color: #ffffffd1!important;
  
}
.img-container{
  max-width:100px;
}
